body {
    text-align: center;
    margin: 0px;
}
p{
    font-size: 18px;
    line-height: 1.5;
}
img {
    width: 320px;
    height: 190px;
    margin-right: 20px;
    border: 3px solid white;
    border-radius: 15px;
    padding: 4px;
    box-shadow:00 10px gray;
}
.header {
    background-color: blueviolet;
    padding: 10px;
    color: white;
}
.team{
    background-color: rgb(86, 182, 177);
    padding: 10px;
}
.clients{
    background-color: whitesmoke;
    padding:10px;
}
.development{
    background-color: gray;
    padding: 10px;
}
.footer{
    background-color: black;
    padding: 10px;
    color: white;
}
.software {
    color: palevioletred;
}
.solutions {
    color: yellow;
}
